
    {ALERT}

<form class="form-horizontal use-ajax" role="form" method="post">
  <div class="form-group">
    <label class="col-sm-3 control-label">{@USERNAME}</label>
    <div class="col-sm-9">
      <input name="username" type="text" class="form-control" placeholder="{@USERNAME}" value="{$username}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@PASSWORD}</label>
    <div class="col-sm-9">
      <input name="password" type="password" class="form-control" placeholder="{@PASSWORD}" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input name="remember" type="checkbox" value="true"> {@BTN_REMEMBER}
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> &nbsp;{@BTN_LOGIN}</button>
      <a class="btn btn-default" href="{URL_RECOVERY}"><span class="glyphicon glyphicon-remove"></span> &nbsp;{@BTN_FORGOT_PASSWORD}</a>
    </div>
  </div>
</form>