<!-- %ALERT_ERROR% -->
  <div class="alert alert-info" role="alert">%MESSAGE%</div>
<!-- %ALERT_ERROR% -->


<!-- %HIDE_WHEN_ERROR% -->
    <!-- %USER_EDIT% -->
      <div class="pull-right"><a href="{URL_ACCOUNT}" class="btn btn-danger"><span class="glyphicon glyphicon-pencil"></span> {@BTN_EDIT}</a></div>
    <!-- %USER_EDIT% -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <div class="thumbnail" style="margin-bottom: 0px">
          <img src="%USER_AVATAR%" alt="%USERNAME%" style="width: 100%" />
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <h1>%USERNAME%</h1>
      <p>{@REGISTER_DATE}: %DATE_CREATION%</p>
    </div>
<!-- %HIDE_WHEN_ERROR% -->

<hr>

<h4>{@SEARCH_USER}</h4>

<form method="post">
  <div class="input-group">
    <input type="text" name="member" class="form-control" required>
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span> {@BTN_SEARCH}</button>
    </span>
  </div>
</form>