<!-- %ALERT_ERROR% -->
  <div class="alert alert-danger" role="alert">%MESSAGE%</div>
<!-- %ALERT_ERROR% -->

<!-- %ALERT_SUCCESS% -->
  <div class="alert alert-success" role="alert">%MESSAGE%</div>
<!-- %ALERT_SUCCESS% -->

<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
    <div class="thumbnail" style="margin-bottom: 0px">
      <img src="%USER_AVATAR%" alt="{CURRENT_USER}" style="width: 100%" />
    </div>
  </div>
</div>

<hr>

<form enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <h3 style="margin: 0">{@CHANGE_AVATAR}</h3>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@AVATAR}</label>
    <div class="col-sm-9">
      <input name="avatar_file" type="file" class="form-control" style="vertical-align: middle;height: 100%;">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <p style="text-align: center"><b>{@OR}</b></p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@URL_PICTURE}</label>
    <div class="col-sm-9">
      <input name="avatar_url" type="text" class="form-control" placeholder="{@URL_PICTURE}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="hidden" name="send_avatar" class="hidden" value="1">
      <input type="hidden" name="token" class="hidden" value="%TOKEN%">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> &nbsp;{@BTN_SAVE}</button>
    </div>
  </div>
</form>

<hr>

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <h3 style="margin: 0">{@CHANGE_PASSWORD}</h3>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@PASSWORD}</label>
    <div class="col-sm-9">
      <input name="password" type="password" class="form-control" placeholder="{@NEW_PASSWORD}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@CONFIRM_PASSWORD}</label>
    <div class="col-sm-9">
      <input name="confirm-password" type="password" class="form-control" placeholder="{@PASSWORD}" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="hidden" name="send_password" class="hidden" value="1">
      <input type="hidden" name="token" class="hidden" value="%TOKEN%">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> &nbsp;{@BTN_SAVE}</button>
    </div>
  </div>
</form>