<!-- %ALERT_ERROR% -->
  <div class="alert alert-danger" role="alert">%MESSAGE%</div>
<!-- %ALERT_ERROR% -->

<!-- %ALERT_SUCCESS% -->
  <div class="alert alert-success" role="alert">%MESSAGE%</div>
<!-- %ALERT_SUCCESS% -->

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    <label class="col-sm-3 control-label">{@USERNAME}</label>
    <div class="col-sm-9">
      <input name="username" type="text" class="form-control" placeholder="{@USERNAME}" value="{$post username}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@EMAIL}</label>
    <div class="col-sm-9">
      <input name="email" type="email" class="form-control" placeholder="{@EMAIL}" value="{$post email}" required>
    </div>
  </div>
  <!-- %HIDE_WHEN_SUCCESS% -->
  <div class="form-group">
    <label class="col-sm-3 control-label">{@PASSWORD}</label>
    <div class="col-sm-9">
      <input name="password" type="password" class="form-control" placeholder="{@PASSWORD}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">{@VERIFY}</label>
    <div class="col-sm-9">
      <input name="confirm-password" type="password" class="form-control" placeholder="{@CONFIRM_PASSWORD}" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label" style="padding-top: 1px;">
      <img style="height: 42px;" src="%CAPTCHA%"/>
    </label>
    <div class="col-sm-9">
      <input name="captcha" type="text" class="form-control" placeholder="{@CAPTCHA}" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <input type="hidden" name="send" class="hidden" value="1">
      <input type="hidden" name="token" class="hidden" value="%TOKEN%">
      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> &nbsp;{@BTN_REGISTER}</button>
    </div>
  </div>
  <!-- %HIDE_WHEN_SUCCESS% -->
</form>